* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito',sans-serif;
}
:root {
    --bg-color: #042440;
    --snd-bf-color: #4e5174;
    --text-color: #fff;
    --main-color: #a2bedc;
}
body {
    background:var(--bg-color);
    color: var(--text-color);
}
.hdr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 80px;
}

.logo  {
    width: 80px;
    border-radius: 50px;
    color: var(--text-color);
    cursor: default;
    
}
.hhh{
    color: var(--main-color);
}

.navbar {
    display: flex;
    width: 84%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 20px;
}

.navbar li a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
}

.navbar li a:hover {
    color: #545748; 
    text-decoration: underline;
    box-shadow: 0 0 16px var(--main-color);
}


.home-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
    height: 100%;
    background-color:var(--bg-color) ; 
}
.home-2 h3:nth-of-type(2){
    margin-bottom: 32px;
}
.home{
    align-items: center;
    justify-content: center;
}
span{
    color: var(--main-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
   color: var(--main-color);
}

section{
    min-height:100vh;
    padding: 32px ;
}
.desc h1{
    font-size: 60px;
    font-weight: 700;
    font-style: oblique;
}
.desc {
    flex: 1;
    padding-right: 20px;
    font-size: 20px;
}
.image-container{
    padding-top: 40px;
    width: 25vw;
    animation: floatimage 4s ease-in-out infinite;
}
@keyframes floatimage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-32px);
    }
    100%{
        transform: translateY(0);
    }
}


.PARA {
    text-align: left;
    width: 80%;
}

.social-media a {
    margin-right: 10px;
    text-decoration: none;
    color: white; 
}

.social-media a:hover {
    color: #545748; 
    box-shadow: 0 0 16px var(--main-color);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--main-color); 
    color: var(--bg-color); 
    text-decoration: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    background-color: #545748; 
    box-shadow: 0 0 16px var(--main-color);
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 50px 0; 
    background-color: var(--snd-bf-color); 
}

.about-img {
    width: 35vw;
}

.about-img img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.about-content {
    max-width: 500px;
    color: white; 
}

.heading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 1.5em;
}

.about-content p {
    font-size: 1em;
    margin: 32px 0 48px;
}

span{
    color: var(--bg-color);
}


.projects{
    background: var(--main-color);
}
.projects h1{
    color: var(--bg-color);
}
 .title2{
    font-size: 40px;
    font-family: initial;
}
.title2,.para2{
    text-align: center;
}
.para2{
    font-size: 30px;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.img{
    width: 400px;
    height:350px;
    border-radius: 15px;
    box-shadow: 0 0 16px var(--bg-color);
   
}
.imgs {
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    transition: -5s;
}
.img:hover {
transform: scale(1.1);
transition: 1.08s;
 opacity: 0.7;
}  

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fff {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: var(--bg-color); 
    color: var(--main-color); 
    text-decoration: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: #4e5174;
    margin-left: 600px;

}
.fff:hover {
    background-color: #545748; 
}
.contact h1 {
    margin-top: 50px;
    margin-bottom: 48px;
    font-style: italic;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact span{
    color: var(--snd-bf-color);
}
.contact form {
    max-width: 70rem;
    margin: 16px auto;
    text-align: center;
    margin-bottom: 48px;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form #msg {
    width: 100%;
    padding: 16.5px;
    font-size: 16.6px;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .128px;
    margin: .112px 0;
}
.contact form .input-box input {
    width: 49%;
}
.contact form textarea {
    resize: none;
}
.sss{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: var(--main-color); 
    text-decoration: none;
    border-radius: 16px;
    font-size: 16px;
    background-color: #C1EBFF; 
    font-weight: 600;
    cursor: pointer;

}
.sss:hover {
    background-color: #545748; 
    box-shadow: 0 0 16px var(--main-color);
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
    padding: 32px 9%;
    background-color:#7DADCA ;
}
.footer-text{
    margin-left: 350px;
}

.footer-icontop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .128px 16px;
    background: var(--main-color);
    border-radius: .128px;
    transition: .5s ease;
}
.footer-icontop a:hover{
    box-shadow: 0 0 16px var(--main-color);
}
.footer-icontop a i {
    font-size: 32.4px;
    color: var(--text-color);
}

@media (max-width: 600px) {
    .hdr {
        padding: 20px 5%;
    }

    .logo {
        display: none;
    }

    .navbar {
        align-items: center;
    }

    .navbar ul {
        padding: 4px;

    }

    .navbar li {
        margin: 5px;
    }

    .social-media a {
        margin-right: 5px;
    }

    .image-container {
        width: 50vw;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        width: 70%;
    }

    .about-content {
        max-width: 100%;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .fff {
        margin-left: 0;
    }

    .footer-text {
        margin-left: 0;
        text-align: center;
    }
}
   
    





